

.feed {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  /* height: 525px; */
  /* margin: 2px; */
}
.feedLog {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  /* height: 525px; */
  margin: 2px;
}

.feedItem {
  display: flex;
  padding-left: 5px;
  margin-top: 0px;
}
