.minimapComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e0d2;
  flex-direction: column;
  width: 750px;
  height: 420px;
  margin: 2px;
}

.minimapCellExplored{
  
  margin: 1px;
  height: 15px;
  width: 15px;;
  background-color: #52554f;
}
.minimapCellCurrent{
  
  /* margin: 1px; */
  height: 16px;
  width: 16px;;
  background-color: #e9a21f;
}
.minimapCellUnexplored{
  
  margin: 1px;
  height: 15px;;
  width: 15px;;
  /* background-color: lightblue; */
}
.minimapRow{
  display: flex;
  justify-content: flex-start;

  width: auto;

}
.map{
  background-color: #e8cf8d;
  padding: 6px;
  border-radius: 15px;
  
}