.minimapComponent {
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  justify-content: space-between;
  width: 750px;
  height: 420px;
  margin: 2px;
}

.minimapCell{
  
  margin: 15px;
  height: 15px;
  width: 15px;
  background-color: brown;
}
.minimapRow{
  display: flex;
  justify-content: flex-start;

  margin: 15px;
  height: 15px;
  width: auto;
  background-color: brown;
}