.source {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  height: 500px;
  background-color: #d8e0d2;
  margin: 2px;
  border-radius: 15px;
}
.playerCard {
  display: flex;
  margin:5px;
  width: 90%;
  height: 65px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow: hidden;
  /* margin: 5px; */
}
.tokenArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  /* border-radius: 20px; */
  overflow: hidden;
}
.outterTokenArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  overflow: hidden;
  background-color: aliceblue;
  margin-right: 5px;
}
.infoArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.playerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;

  
}
.playerStatus {
  display: flex;
  flex-direction: column;
  width: auto;
  
}
.playerName {
  margin: 0px;
  padding: 0%;
}

.Warrior {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(214, 47, 47);
  /* margin: 5px; */
}
.Wizard {
  
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* background-color: rgb(42, 118, 165); */
  /* margin: 5px; */
}
.Rogue {
  width: 50px;
  height: 50px;
  /* border-radius: 25px; */
  background-color: rgb(59, 159, 9);
  /* margin: 5px; */
}
.token {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  /* margin: 5px; */
}