.terrainEditor {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: aquamarine;
  width: 750px;
  margin: 2px;
  height: 420px;

}

.terrainOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* background-color: aquamarine; */
  /* margin: 2px; */

}