html {
  background-color: #e8ebf2;

}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Board */

.playArea {
  display: flex;
  background-color: #e7e7dc;
  padding: 3px;
  border-radius: 15px;
  overflow: hidden;
}
.boardHolder{
  display: absolute;
  overflow: hidden;
  max-height: 934px;

}
/* .board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  /* background-color: aquamarine; */
  /* height: auto;
  width: auto; */
/* }
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  margin: 2px;
  transition: 0.2s;
  
} */ */
/* .cell:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(229, 210, 67);
  margin: 1px;

} */



/* info center */

.information_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.option_bar {
  width: 100%;
  height: 50px;
  background-color: rgb(180, 178, 178);
}


/* Tokens */


.Warrior {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(214, 47, 47);
  /* margin: 5px; */
}
.Wizard {
  
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(42, 118, 165);
  /* margin: 5px; */
}
.Rogue {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(59, 159, 9);
  /* margin: 5px; */
}
.token {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  /* background-color: rgb(59, 159, 9); */
  /* margin: 5px; */
}





/* playerList */
.source {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 750px;
  height: 500px;
  background-color: #d8e0d2;
  margin: 2px;
  border-radius: 15px;
}
.playerCard {
  display: flex;
  margin:5px;
  width: 90%;
  height: 65px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  /* margin: 5px; */
}
.tokenArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  /* overflow: hidden; */
}
.infoArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.playerInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
  
}
.playerStatus {
  display: flex;
  flex-direction: column;
  width: auto;
  
}
.playerName {
  margin: 0px;
}